.Editable {
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    min-height: 24px;

    &.active {
        min-width: 100px;
        background-color: rgba(var(--center-channel-color-rgb), 0.04);
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-radius: var(--default-rad);
        padding: 6px 8px;
    }

    &::placeholder {
        color: rgba(var(--center-channel-color-rgb), 0.4);
        opacity: 1;
    }

    &.error {
        border: 1px solid rgb(var(--error-text-rgb));
        border-radius: var(--default-rad);
    }

    &.readonly {
        background-color: transparent;
        flex: 1;
    }
}
