.CardBadges {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 24px;

    span {
        display: flex;
        align-items: center;
        margin-right: 4px;

        .Icon,
        .CompassIcon,
        .CommentIndicatorIcon {
            color: rgba(var(--center-channel-color-rgb), 0.64);
            fill: currentColor;
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }
    }
}
