name: Frontend Checks

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  webapp:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: webapp

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: webapp/.nvmrc
          cache: npm
          cache-dependency-path: webapp/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run check

      - name: Test
        env:
          CI: "true"
        run: npm run test -- --runInBand --ci
